<header>
 <div class="logo">
  <img src="../../../assets/images/logo.svg" alt="">
 </div>
 <nav>
  <ul>
    <li routerLink="trending"> <img src="../../../assets/images/icon-nav-home.svg" alt=""> </li>
    <li routerLink="movies"> <img src="../../../assets/images/icon-nav-movies.svg" alt=""> </li>
    <li routerLink="tv-series"> <img src="../../../assets/images/icon-nav-tv-series.svg" alt=""> </li>
    <li routerLink="bookmarked"> <img src="../../../assets/images/icon-nav-bookmark.svg" alt=""> </li>
  </ul>
 </nav>
 <div class="avatar">
  <img src="../../../assets/images/image-avatar.png" alt="">
 </div>
</header>