<div class="main-container">
  <div class="search-container">
    <img src="../../../assets/images/icon-search.svg" alt="">
    <input type="text" placeholder="Search for movies or TV series">
  </div>

  <div class="trending-container">
    <h1>Trending</h1>
    <div class="trending-carousel">
      <div class="slider" *ngFor="let trend of trending">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img [src]="trend.thumbnail.trending.small" alt="">
        <div class="movie-details">
          <ul>
            <li>{{trend.year}}</li>
            <li *ngIf="trend.category === 'Movie'"><img src="../../../assets/images/icon-nav-movies.svg" alt=""  > {{trend.category}}</li>
            <li *ngIf="trend.category === 'TV Series'"><img src="../../../assets/images/icon-category-tv.svg" alt="" > {{trend.category}}</li>
            <li>{{trend.rating}}</li>
          </ul>
          <h3>{{trend.title}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="recommended-container">
    <h1>Recommended for you</h1> 
    <div class="recommended-carousel">
      <div class="slider" *ngFor="let movie of homeMovies">
        <div class="bookmark-icon" id="1" (click)="toggleBookmark(1)">
          <img *ngIf="movie.isBookmarked === true" src="../../../assets/images/icon-bookmark-full.svg" alt="bookmark icon" >
          <img *ngIf="movie.isBookmarked === false" [src]="bookmark" alt="bookmark icon" >
        </div>
        <img [src]="movie.thumbnail.regular.small" alt="">
        <div class="movie-details">
          <ul>
            <li>{{movie.year}}</li>
            <li *ngIf="movie.category === 'Movie'"><img src="../../../assets/images/icon-nav-movies.svg" alt=""  > {{movie.category}}</li>
            <li *ngIf="movie.category === 'TV Series'"><img src="../../../assets/images/icon-category-tv.svg" alt="" > {{movie.category}}</li>
            <li>{{movie.rating}}</li>
          </ul>
          <h3>{{movie.title}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>