<div class="main-container">
  <div class="search-container">
    <img src="../../../assets/images/icon-search.svg" alt="">
    <input type="text" placeholder="Search for movies or TV series">
  </div>

  <div class="trending-container">
    <h1>Trending</h1>
    <div class="trending-carousel">
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="recommended-container">
    <h1>Recommended for you</h1>
    <div class="recommended-carousel">
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
      <div class="slider">
        <div class="bookmark-icon">
          <img src="../../../assets/images/icon-bookmark-empty.svg" alt="">
        </div>
        <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
        <div class="movie-details">
          <ul>
            <li>2019</li>
            <li><img src="../../../assets/images/icon-nav-movies.svg" alt=""> Movie</li>
            <li>PG</li>
          </ul>
          <h3>Beyond Earth</h3>
        </div>
      </div>
    </div>
  </div>
</div>