<div class="main-container">
 <div class="search-container">
  <img src="../../../assets/images/icon-search.svg" alt="">
  <input type="text" placeholder="Search for movies or TV series">
 </div>

 <div class="trending-container">
  <h1>Trending</h1>
  <div class="trending-carousel">
   <div class="slider">
    <div class="bookmark-icon"></div>
    <img src="../../../assets/images/thumbnails/beyond-earth/trending/small.jpg" alt="">
    <div class="movie-details"></div>
   </div>
  </div>
 </div>
</div>